{% extends 'event_export/event_base.html' %}
{% load static %}
{% block content %}

<!-- Team Start -->
<h4 style="margin-top: 140px">Search for Companies</h4>
<form method="get" action="{% url 'search_companies' %}">
    {% csrf_token %}
    <label for="comp_type">Company Type:</label>
    <input type="text" name="comp_type" id="comp_type" placeholder="E.g., Marriage">

    <label for="comp_location">Location:</label>
    <input type="text" name="comp_location" id="comp_location" placeholder="E.g., Kochi">

    <button type="submit" name="search">Search</button>
</form>

{% if results %}
    <div class="team mt-5">
        <div class="container">
            <div class="row">
                {% for result in results %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <img src="{{ result.comp_image.url }}" class="card-img-top" alt="Company Image" style="height: 200px; width: 100%">
                            <div class="card-body">
<a href="{% url 'compview' result.id %}">
                                <h5 class="card-title">{{ result.user.first_name }}</h5></a>
                                <p class="card-text">{{ result.comp_type }}</p>
                                                                <p class="card-text">{{ result.comp_location }}</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
<a href="{% url 'compview' result.id %}" class="btn btn-sm btn-outline-secondary">Details</a>
                              <a href="{% url 'display_gallery' company_id=result.id %}" class="btn btn-sm btn-outline-secondary">View Gallery</a>
                                  <a href="{% url 'chat_with_company' company_id=result.id %}" class="btn btn-sm btn-outline-secondary">Chat With Us</a>
<a href="{% url 'book_with_company' company_id=result.id %}" class="btn btn-sm btn-outline-secondary">Book Now</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="team">
        <div class="container">
            <div class="section-header">
                <h4>No Companies Found</h4>
            </div>
        </div>
    </div>
{% endif %}
<!-- Team End -->
<div style="margin-bottom: 100px;"></div>
{% endblock %}
